/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.hero {
  background-image: url('hero-bg.jpg'); /* Cambia 'hero-bg.jpg' por la imagen de fondo que desees */
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 600px;
  color: #333;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.project-item {
  margin-bottom: 20px;
}

.contact input,
.contact textarea,
.contact button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}



/* styles.css */
.about {
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
}

.about ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about ul li {
  margin-bottom: 10px;
}
